body{
    border: 2px solid;
    border-radius: 10px;
    border-color: #8CA839;
    padding: 1em;
    overflow: auto;
}

img{
    max-width: 100%;
}

.grid-contenedor {
    font-family: 'Josefin Sans', sans-serif;
    display: grid;
    grid-template-areas:
      "header"
      "menu"
      "main"
      "footer";
}

.grid-encabezado {
    grid-area: header;
}

.grid-menu {
    grid-area: menu;
}

.grid-contenido {
    grid-area: main;
}

.grid-footer {
    grid-area: footer;
}

.grid-footer {
    background-color:#C28B48;
    padding: 1em;
    text-align: center;
}
  
.grid-menu {
    background-color:#C28B48;
    position: sticky;
    top: 0px;
}

/*Estilos de menú*/
.grid-menu ul {
    padding: 0px;
    margin: 0px;
}

.grid-menu li {
    display: inline-block;
}

.grid-menu a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 1em 1.5em;
}
  
.grid-menu a:hover {
    background-color:rgba(0, 128, 128, 0.247);
}
  
.active {
    background-color:darkslategrey;
}

.grid-contenido {
    width: 90%;
    padding: 1em;
    margin: auto;
    text-align: justify;
}

button{
    padding: 1em;
    background-color: #1B7FB5;
    color: white;
    border: none;
    margin: 5px;
    cursor: pointer;
    font-family: 'Dosis', sans-serif;
}

.button-redondo{
    border-radius: 10px;
    width: 100px;
    font-size: 14px;
}

form>div{
    padding: 1em;
}

form>div>input{
    padding: 0.4em;
    border-radius: 5px;
    border: 1px solid;
    width: 300px;
    height: 30px;
}